In [1]:
import pandas as pd
import numpy as np

In [2]:
invoices = pd.read_csv("./invoices_test.csv")
invoices.head()

,date_created,invoice_id,sale_description,brand_name,coach,invoice_status_str,total,invoice_date
0,2025-04-02 11:50:12.225,31427,Ambassador Coaching Program PIF $2250,Coaching,Not assigned/deposit,closed-void,2250.0,2025-05-12
1,2025-04-02 11:50:13.934,42302,Ambassador Coaching Program - 3 Months + 9 Mon...,Coaching,Not assigned/deposit,closed-void,500.0,2025-05-01
2,2025-04-10 20:41:23.054,44324,NaN,Coaching,Alex Baker,closed-void,2000.0,2025-04-24
3,2025-04-15 17:20:38.877,45575,Ambassador Coaching Program ($1500 3 Pay $500 ...,Coaching,Joshua Tan,closed-void,500.0,2025-06-30
4,2025-04-15 19:26:06.371,43069,Ambassador Coaching Program ($2250 3 Pay $750 ...,Coaching,Ginger Howland,closed-void,750.0,2025-06-04

In [3]:
line_items = pd.read_csv("./invoice_line_items_test.csv")
line_items.head()

,id,invoice_id,item_name,line_rate,line_quantity,created_at
0,143582,15454,"""Win-Win Opportunity"" for Coaching and Guarant...",400.0,1.0,2025-04-29 18:07:30.626+00
1,143583,15455,The FitSpresso Ambassador Coaching Program at ...,400.0,1.0,2025-04-29 18:07:31.825+00
2,143584,15456,Scholarship offer - $900,450.0,1.0,2025-04-29 18:07:33.162+00
3,143585,15457,Ambassador Coaching Program ($2500 3 Pay $833 ...,625.0,1.0,2025-04-29 18:07:34.034+00
4,143587,15459,Scholarship offer - $900,450.0,1.0,2025-04-29 18:07:36.819+00

# Backend/Data Engineer Test
## Task
- Your task is to use the two datasets given:
1. To set up a database with tables for them (and any relevant relations)
2. To classify the line items into "coaching", "outbound", "shipping", "rollover" based on the item_name (supplement is default if there's not other word match)
3. Total up the line item amounts for particular invoices and confirm if this is in line with the invoices 'total'
4. Any other reporting related to this you deem relevant
5. Test data integrity and set up any required data pipeline (you can use dummy data, or splice and keep aside some of the data to emulate receiving data by webhook - you don't have to setup webhooks, just deal with data ingestion)

- Moreover, it'd be ideal if you could:
1. Host this dataset and any required service over a cloud service (like Railway, or a standard one like AWS)
2. Containerize your solution
3. Expose endpoints to query this data
4. Document your solution well, both in code and in separate documentation

## What we want to see from your submission:
- Your knowledge of CI/CD
- Your knowledge of databases, cloud services
- Your knowledge of data engineering practices/applications
- Your communication skills
- Use of modular, reusable code following SOLID principles

## Rules
- Feel free to use AI, but be sure to mark and point out wherever and for whatever purpose you do - we don't mind AI use, but efficient use and the ability to tell where to use it and where to not is encouraged.
- After the task, record a short (max 10 minutes) video explaining your solution, pros and cons, what you think could be done better given more time, etc. 
- Spend no more than 2, max. 3 hours on the task itself. (excluding documentation) We don't want the perfect solution, but a functioning one, and we want to understand your approach to solving problems.

## To submit
- Link to your video explaining your solution
- Links to any publically available endpoints to query the data
- A system design diagram (with the major design decisions)